<footer class="main-footer">
<div class="footer-item">
       <a href="https://www.otaviomiranda.com.br/" target="_blank" rel="noreferrer noopener">2022 S.S.S.P</a></i>
            
        </div>
        <div class="footer-item">
            <i class="fas fa-calendar-alt"></i>
            <a href="https://www.otaviomiranda.com.br/" target="_blank" rel="noreferrer noopener">Desenvolvido por P.C.L</a>
        </div>
        <div class="footer-item">
            <a href="https://www.otaviomiranda.com.br/" target="_blank" rel="noreferrer noopener">Licenciado para IFMA</a>
            </a>
        </div>
  </footer> 