<div class="recipe recipe-list-item">

    <div class="cadastro-meta-container">
        <h1 style="font-size: 35px">CADASTRO DE DOCUMENTOS<BR></h1>
        <h2 style="font-size: 28px">Informações pessoais</h2>
        <form class="cadastro-meta">   
            <div class="recipe-meta-text">
                <label for="exampleInputEmail1">Nome</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome">
            </div>
                <div>
                    <label for="exampleInputPassword1">Sobrenome</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sobrenome">
                </div>  
        </form>
            <form class="cadastro-meta">   
                <div class="recipe-meta-text">
                    <label for="exampleInputEmail1">RG</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000000000">
                </div>
                    <div>
                        <label for="exampleInputPassword1">CPF</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="0000000">
                    </div>  
        </form>
        <form class="cadastro-meta">   
            <div class="recipe-meta-text">
                <label for="exampleInputEmail1">Comprovante de Risedência</label>
                <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            </div>
                <div>
                    <label for="exampleInputPassword1">Email</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="exemplo@hotmail.com">
                </div>  
        </form>
    </div>   
    
    

    <div class="cadastro-meta-container">
        <h2 style="font-size: 28px">Comprovação de Curriculo</h2>
        <form class="cadastro-meta">   
            <div class="recipe-meta-text">
                <div class="text">

Anexe aqui ARQUIVO ÚNICO em formato PDF contendo os seguintes documentos:<br>
a) Certificado de conclusão do ensino fundamental;<br>
b) Certificado/declaração de conclusão do ensino médio;<br>
c) Diploma de Pós-Graduação;<br>
d) Diploma de Mestrado;<br>
e) 3 Fotos 3x4;<br>
f) Diploma de Ensino Superior (Graduação)<br>
Sugerimos o site i love pdf para juntar e comprimir arquivos em pdf<br> 


                </div>
                <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Arquivo pdf">
            </div>
        </form>       
    </div> 
 
    <div class="cadastro-meta-container">
        <h2 style="font-size: 28px">Login<br></h2>
        <h4>Digite um usuário e senha para ter acesso ao sistema.</h4>
        <form class="cadastro-meta"> 
            
            <div class="recipe-meta-text">
                
                <label for="exampleInputEmail1">Senha</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome">
            </div>
                <div>
                    <label for="exampleInputPassword1">Usuário</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sobrenome">
                </div>  
        </form>
            <form class="cadastro-meta">   
                <div class="recipe-meta-text">
                    <label for="exampleInputEmail1">Confirme sua Senha</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000000000">
                </div> 
        </form> 
    </div>
    <div class="cadastro-meta-container">
        <h2>FeedBack<br></h2>
        <form class="cadastro-meta"> 
            
            <div class="recipe-meta-text">
                
                <label for="exampleInputEmail1">Anote aqui se houve alguma dificuldade no processo 
                    de incrição.</label>
                <textarea class="form-control" name="story"
                    rows="5" cols="33">
                </textarea>
            </div>
                
    </div>

    



</div>