<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        {% load static %}
        <img src="{% static 'recipes/img/logoMenu.png' %}" alt="Temporário">
    </div>

    <div class="div-buttom">
            <a href="http://127.0.0.1:8000/menu/">
                <button class="buttom"onclick="" ><h4>Entrar</h4></button>
        
            </a>
        
    </div>
    <div class="div-buttom">
        <a href="http://127.0.0.1:8000/cadastro/">
            <button class="buttom" onclick=""><h4>Se candidatar</h4></button>
        
        </a>
        
    </div>


</div>