<div class="recipe recipe-list-item">
    <div class="menu-meta-container">
        <div class="menu-meta">
            <a class="text-menu-busca" href="">
                <img class="icon-img" src="https://cdn-icons-png.flaticon.com/512/1127/1127283.png" alt="">
                    Homologação de Documentos
            </a>
        </div>
        <div class="menu-meta ">
            <a  class="text-menu-busca" href="">
                <img class="icon-img" src="https://cdn-icons-png.flaticon.com/512/6040/6040483.png" alt="">
                    Acompanhamento do Processo

            </a>
        </div>
        </div>
        
    <div class="menu-meta-container">
        <div class="menu-meta ">
            <a class="text-menu-busca" href="">
                <div class="recipe-meta-text">
                    <img class="icon-img" src="https://cdn-icons-png.flaticon.com/512/46/46354.png" alt="">
                    Documentos dos Candidatos
                </div>
            </a>
        </div>
        <div class="menu-meta">
            <a class="text-menu-busca" href="">
                <div class="recipe-meta-text">
                    <img class="icon-img" src="https://cdn-icons-png.flaticon.com/512/7658/7658605.png" alt="">
                    Entrada de Recursos 
                </div>
            </a>
        </div>
        
    </div>
    <div class="menu-meta-container">
        <div class="menu-meta ">
            <a class="text-menu-busca" href="">
                <div class="recipe-meta-text">
                    <img class="icon-img" src="https://cdn-icons-png.flaticon.com/512/46/46354.png" alt="">
                
                    Documentos dos Avaliadores.
                </div>
            </a>
        </div>
        <div class="menu-meta">
            <a class="text-menu-busca" href="">
                <div class="recipe-meta-text">
                    <img class="icon-img" src="https://cdn-icons-png.flaticon.com/512/17/17452.png" alt="">
                
                    Configuração do Processo de Seleção
                </div>
            </a>
        </div>
        
    </div>

    


</div>




</div>